.navbar {
  height: 40px;
  background-color: #37d0ff;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
} 

.list-item {
  margin: 0;
  display: flex;
  width: auto;
  align-items: center;
  
} 

.list-item a {
  color: white;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
}


.registrarse-login-carrito {
  display: flex;
  justify-content: flex-end;
} 
